<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button class="header__burger burger" type="button">
        <span class="burger__line"></span>
        <span class="hide"> открыть/закрыть меню</span>
      </button>

      <a class="header__logo logo" href="index.html">
        <img class="logo__img" width="84" height="35" src="images/logo.png" alt="логотип сайта">
      </a>

      <ul class="header__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="index.html">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="flats.html">Квартиры</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Контакты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">О нас</a>
        </li>
      </ul>

      <div class="header__overlay overlay"></div>

      <address class="header__address">
        <a class="header__circle-link circle-link-text" tabindex="-1" href="tel:+79504444544">
          <span class="circle-link" tabindex="0">
            <svg>
              <use xlink:href="images/sprite.svg#tel"></use>
            </svg>
          </span>
          <span>+7 (950) 444-45-44</span>
        </a>

        <a class="header__circle-link circle-link-text" tabindex="-1" href="mailto:mail@yandex.ru">
          <span class="circle-link" tabindex="0">
            <svg>
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
          </span>
          <span>mail@yandex.ru</span>
        </a>

        <button class="header__btn btn connectBtn" type="button">
          Обратная связь
        </button>
      </address>

    </nav>
  </div>
</header>