<footer class="footer shadow" style="background-image: url(images/footer-bg.jpg);">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a class="logo" href="index.html">
          <img class="logo__img" width="84" height="35" src="images/logo.png" alt="логотип сайта">
        </a>
      </div>

      <ul class="footer__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="index.html">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="flats.html">Квартиры</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Контакты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">О нас</a>
        </li>
      </ul>

      <address class="footer__address">
        <a class="footer__link footer__link--tel" tabindex="-1" href="tel:+79504444544">
          <span class="footer__circle-link circle-link " tabindex="0">
            <svg>
              <use xlink:href="images/sprite.svg#tel"></use>
            </svg>
          </span>
          +7 (950) 444-45-44
        </a>
        <a class="footer__link" href="mailto:mail@yandex.ru" tabindex="-1">
          <span class="footer__circle-link circle-link" tabindex="0">
            <svg>
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
          </span>
          mail@yandex.ru
        </a>
      </address>

      <ul class=" social">
        <li class="social__item">
          <a href="" class="footer__circle-link circle-link">
            <svg>
              <use xlink:href="images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="footer__circle-link circle-link">
            <svg>
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="footer__circle-link circle-link">
            <svg>
              <use xlink:href="images/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="footer__circle-link circle-link">
            <svg>
              <use xlink:href="images/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>



  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__copy">
          Пользовательское соглашение
        </div>
        <div class="footer__copy">
          © Copyright 2021, «Домашняя гостиница»
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="overlay"></div>

<div class="popup popup--active connect-form">
  <div class="popup__inner">
    <button class="popup__burger burger burger--close closePopupBtn" type="button">
      <span class="burger__line"></span>
      <span class="hide"> открыть/закрыть форму обратной связи</span>
    </button>
    <form action="connect-form__form">
      <div class="connect-form__title">
        Заказать звонок
      </div>
      <div class="connect-form__text">
        <p>
          Оставьте заявку и мы свяжемся с Вами в ближайшее время!
        </p>
      </div>
      <label class="connect-form__label">
        <span class="hide">Введите ваше имя</span>
        <input class="connect-form__input" type="name" name="name" placeholder="Имя" required>
      </label>
      <label class="connect-form__label">
        <span class="hide">Введите ваш телефон</span>
        <input class="connect-form__input" type="tel" name="tel" placeholder="Телефон" required>
      </label>

      <button class="btn btn--big" type="submit">Отправить</button>
    </form>
  </div>
</div>